<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>Karlken Alvarez</h1>
    <p>><span id="typed"></span></p>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/karlkenalvarez/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      <a href="https://www.facebook.com/karlken2804/" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/karlken_2804/" class="instagram"><i class="bx bxl-instagram"></i></a>
    </div>
  </div>
</section>
